<html>
<head>
    <title>Create Emp</title>
</head>
<body>
    <form method="post" action="/Demo/Index">
        <center>
            Name1:<br />
            <input type="text" name="Name1" /> <br/>
            <hr />

            Address1:<br />
            <input type="text" name="Address1" /> <br />
            <hr />

            Name2:<br />
            <input type="text" name="Name2" /> <br />
            <hr />

            Address2:<br />
            <input type="text" name="Address2" /> <br />
            <hr />
            <hr />
            <input type="submit" value="Click Me" name="btnSubmit" />
        </center>
    </form>
</body>
</html>