<html>
    <head>
        <title>Sorry!</title>
    </head>
    <body>
        <center>
            <h1>Sorry! Something went wrong!</h1>
            <hr />
            <a href="/Login/SignIn">Try Again!</a>
            @* <h4>Technical Details:</h4> *@
          @*   <p>
                @Model.Message
            </p> *@
        </center>
    </body>
</html>