<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <img src="/images/logo.jpg" style="height: 100px; width: 100px"/>
    <hr />
    <a href="/Test/Index">Home</a> |
    <a href="/Test/About">About Us</a> |
    <a href="/Test/Contact">Contact Us</a> |
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
        <p>
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        </p>
    <hr />
    
    <hr />
    <hr />
    @RenderSection("AdSection",false)
    <hr />
    <hr />
    <hr />
    <p>
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
        This is content from master | layout page.
    </p>
    <hr />

    <center>
        <h5>Developed by IACSD</h5>
    </center>
</body>
</html>
