<html>
    <head>
        <title>Sign In</title>
    </head>
    <body>
     <form action="/Login/SignIn" method="post">
        <center>
            <table>
                <tbody>
                    <tr>
                        <td>User Name</td>
                        <td>
                            <input type="text" name="UserName" />
                        </td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" name="Password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Login" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h4 style="color: red">
                @ViewBag.ErrorMessage
            </h4>
        </center>
     </form>
    </body>
</html>