@model _000DemoMVC.Model.Emp
<html>
    <head>
        <title>
            Demo MVC
        </title>
    </head>
    <body>
        <h1>Welcome to MVC</h1>
        <h1>
            @Model.Name
        </h1>
    </body>
</html>