@{
    Layout = "Master";
}

<h1>This is about us!</h1>

@section AdSection{
    <h1>THIS IS AD FROM ABOUT PAGE!</h1>
}

<h1>Some more content from about us page</h1>
<h1>Some more content from about us page</h1>
<h1>Some more content from about us page</h1>
<h1>Some more content from about us page</h1>
